@media only screen and (max-width: 1200px) {
    form {
        display: flex;
        flex-flow: row wrap;
        width: auto;
    }
}

#logo {
    height: 100px;
    width: auto;
}

a {
   color: black; 
}

.alert {
    text-align: center;
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}

h4 {
    text-align: center;
}

form {
    display: flex;
    flex-flow: row wrap;
    /* width: 1000px; */
    padding: 20px;
}

.form-group {
    padding: 10px;
}

#email {
    width: 300px;
}

#stAddress {
    width: 300px;
}

#state {
    width: 80px;
}

#zip {
    width: 100px;
}

.form-check {
    padding: 20px;
}

#submit {
    height: 40px;
    width: 100px;
    align-self: center;
    margin: 0px 30px 0px;
}
