@media only screen and (max-width: 1200px) {
    .text p {
        display: none;
    }
}


#logo {
    height: 100px;
    width: auto;
}

a {
   color: black; 
}

.alert {
    text-align: center;
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}

.container-sm {
    position: relative;
    text-align: center;
    color: white;
}

#main-img {
    margin: 0px 20px 20px 0px;
    height: 600px;
    width: 100%;
    position: relative;
}

.text h3 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

.text p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.btn-success {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.overview {
    padding: 20px;
}

.how-to {
    color: #585858;
}

.how-to h4 {
    letter-spacing: 10px;
}

.how-to p {
    padding: 0px 15px 0px 15px;
    color: #585858;
}

.steps {
    text-align: center;
    color: #585858;
}

.steps h6 {
    letter-spacing: 2px;
}

footer {
    background-color: darkgray;
    height: 70px;
}

.footer p {
    text-align: left;
    padding: 10px;
    font-size: 12px;
}